<div class="container mt-4">
  <p class="display-5 text-center">Tasks</p>
  <div class="d-flex justify-content-center">
    <div class="custom-width input-group">
      <div class="input-group-prepend">
        <!-- Checkbox -->
        <div class="input-group-text checkbox">
          <input type="checkbox" class="custom-checkbox" />
        </div>
      </div>
      <!-- Text input -->
      <input type="text" class="form-control" />
      <!-- Button input -->
      <button type="button" class="btn btn-danger">
        <i class="bi bi-trash3 text-white h5"></i>
      </button>
    </div>
  </div>
</div>
