.custom-width {
  width: 75%;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.custom-checkbox {
  height: 28px;
  width: 21px;
  border: 1px;
  border-color: black;
}

.checkbox {
  background-color: rgb(175, 226, 98);
  border: 0px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
// .justify-content-center {
//   align-items: center;
//   justify-content: center;
// }
